 #chat-wrap * {
    font-size: 1rem;
    font-family: 'Noto Sans KR', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
    border-collapse: collapse;
    box-sizing: border-box;
    color: black;
  }
  
  #chat-wrap {
    width: 500px;
    background-color: rgb(241, 239, 239);
    margin: 50px auto;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 41px 41px 82px #c9c9c9, -41px -41px 82px #ffffff;
    position:fixed;
    right:10px;
    bottom:0px;
    
  }
  
  #chat {
    width: 100%;
    margin: 0 auto;
  }
  
  #chat #dialog {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    position: relative;
    border-radius: 10px 10px;
    background-color: #b2bbf185;
  }
  
  #chat #dialog .dialog-board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  #chat div {
    width: 60%;
    display: block;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  #chat div.me {
    background-color: hwb(51 1% 3%);
    margin: 0px 0px 10px 40%;
  }
  
  #chat div.other {
    background-color: white;
    margin: 10px 0px 10px 0;
  }
  
  #chat #divSender {
    margin-top: 20px;
    padding-bottom: 0;
    width: 100%;
  }
  
  #divSender label {
    height: 40px;
    line-height: 40px;
  }
  
  label {
    display: inline-block;
    width: 60px;
    vertical-align: bottom;
    text-align: center;
    padding-right: 10px;
    font-weight: bold;
  }
  /* 닉네임 입력박스*/
  #divSender input[type='text'] {
    border: none;
    border: 1px solid #ccc;
    background-color:rgb(243, 239, 239);
    width: calc(100% - 60px - 60px - 3px);
    height: 40px;
    padding-left: 15px;
    margin-right: 3px;
  }
  
  #chat #divMessage {
    width: 100%;
  }
  

  #divMessage label {
    height: 70px;
    line-height: 70px;
  }
  /* 참가버튼 */
  #btnJoin {
    display: inline-block;
    width: 60px;
    height: 40px;
    vertical-align: bottom;
    border: 1px solid #dcdcdc;
    color: white;
    background-color: rgb(126, 124, 128);
    border-radius: 5px;
  }
  /* 메시지 입력박스*/
  #messageInput {
    width: calc(100% - 60px - 60px - 3px);
    height: 70px;
    margin-right: 3px;
    display: inline-block;
    resize: none;
    border: 1px solid #f7a903;
    background-color: #fff;
    box-sizing: border-box;
    vertical-align: bottom;
    border-radius: 5px;
  }
  /* 메시지 보내기 버튼*/
  #btnSend {
    display: inline-block;
    width: 60px;
    height: 70px;
    vertical-align: bottom;
    border: 1px solid #dcdcdc;
    background-color: rgb(250, 171, 2);
    color:white;
    font-weight:bold;
    border-radius: 5px;
  }
  
  /*날짜시간*/
  .date {
    color: #666;
    padding-left: 10px;
    font-size: 0.6em;
  }

  #chat_icon{
    position:fixed;
    right:30px;
    top:200px;
    width:100px;
    height: 100px;
  }
  /*채팅창 닫기*/
  #chat .chat-close{
      width:100%;
      text-align: right;
      cursor: pointer;
  }